<meta charset="UTF-8">
 <% if (typeof data != "undefined") { %>
 	 <script type="text/javascript">
        var initData = <%-JSON.stringify(data)%>;
        document.title = "Welcome "+initData.body.username;
     </script>
	<title>Welcome</title>
 <% } else{ %>
  	<title>New Feed</title>
 <% } %>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
</style>