<link rel="stylesheet" type="text/css" href="/public/css/preload_style.css">
<script type="text/javascript">
	$(document).ready(function(){
		var current_page = 1;
	    var loading_new_feed =false;
		var is_going_down =false;
		var lastScrollTop = $(this).scrollTop();
		var next_url='<%= next_page %>';
		var has_next_page=Boolean('<%= has_next %>');

		console.log('set next |'+has_next_page,'| boolean ',typeof(has_next_page));
		console.log('next_url '+next_url);
		//var req_url=next_url;
		$(window).scroll(function(event){
			var st = $(this).scrollTop();
			    if (st > lastScrollTop){
			    	
			    	is_going_down=true;
			   } else {
			   		
			   		is_going_down=false;
			   }
			   lastScrollTop = st;
			});
	    window.onscroll = function(ev) {
	    	//console.log('has next '+has_next_page);
		    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
		        if((is_going_down && !loading_new_feed) &&has_next_page){
		        	loading_new_feed =true;
		        	show_preload();
		        }//end if
		    }//end if
		};//end window.onscroll
		function show_preload(){
			var html_str="";
			$( "#footer_preload" ).addClass( "preload_loader" );
			console.log('start load: '+next_url);
			var jqxhr = $.get(next_url, function(data) {
			next_url = data.next_page;
			has_next_page=data.has_next;
			loading_new_feed =false;
			 $("#footer_preload" ).removeClass( "preload_loader" );
			 console.log('what data '+data)
				 for(var i=0; i<data.data.length; i++) {
				 	html_str+="<div class='jonat-thumbnail img_size_preview'>";
				 	//html_str+="<img  id='hash_img"+data.data[i]._id+"' src='"+data.data[i].filename+"' class='crop_for_h' >";
				 	html_str+="<img  id='hash_img"+data.data[i]._id+"' src='"+data.data[i].filename+"' class='crop_for_h'/>"
				 	html_str+="</div>";
				  }
				  $("#image_content").append(html_str);
			})
			.done(function(data) {

			})
			.fail(function(data) {
				console.log( "error" );
				loading_new_feed =false;
				$( "#footer_preload" ).removeClass( "preload_loader" );
				
			});
			
		}//end show preload

		function hello_image(){
			console.log('hello image');
		}
	});//end ready
</script>