		<div id="div_upload_form">
				<div class="row debug-bg">
					<div class="col-md-6 col-md-offset-3 ">
						<div class="panel-body form_deco">
							<form id='image_upload_form' action="" method="post" enctype="multipart/form-data">

							<!-- <form id='image_upload_form' action="/upload" method="post" enctype="multipart/form-data">
 -->													
								<div class="form-group">
									<label >Select Image</label>
									<input id='f_image' type="file" name="this_image" size="20" />
		   							
		   						</div>
		   						<div class="form-group">
									<textarea  type="text"  placeholder="Say something. " name="caption" id="taid" cols="35" wrap="soft" class="form-control custom-control" style="resize:none"></textarea>
								</div>

		   						<!-- <button type="submit" value="upload"  name='submit'class="btn btn-default">Upload</button> -->
		   						<input type="submit" value="upload" class="btn btn-default" />
							</form>
						</div>
					</div>
				</div>
		</div>