<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script   src="https://code.jquery.com/jquery-1.12.4.js"   integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="   crossorigin="anonymous"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="public/css/navigate_bar.css">
	<title>View Navigate Bar</title>
	<script type="text/javascript">
		$(document).ready(function(){
			
			 $("#search_txt").keyup(function(e) {
				var key = e.which;
				var word = $("#search_txt").val();
				if(word.charAt(0)=="#"){
					var tag = word.substring(1,word.length);
					console.log('Tag: '+tag);
				}else{
					console.log('user name '+word)
				}
				if(key == 13)  // the enter key code
				{
					console.log('ENTER');
				    return false;  
				}	
			  	//console.log( "get "+key,word);
			});//end keyup
		
		});//end doc ready

	</script>

</head>
<body class="bg_main">
	<nav class='nav_bg '>
			<div class='row nav_space'>
				<div class="col-md-4 left_col_bg ">
					<div class="nav_link_menu ">
 						<a href="#" >Home</a>
 					</div>
				</div> <!-- end left col -->
  				<div class="col-md-4 center_col_bg">
  					<div class="inner-addon left-addon fix_input_width">
					    <i class="glyphicon glyphicon-search"></i>
					    <input type="text" id='search_txt' class="form-control input-sm " placeholder="Search">
					</div>
				  	
  				</div> <!-- end center col -->
 				<div class="col-md-4 right_col_bg">
 					<div class="nav_link_menu">
 						<a href="#" >LogIn</a>
 					</div>
 				</div> <!-- end right col -->
			</div> <!-- end class row -->
	</nav>
</body>
</html>